/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.8;
     font-family: Helvetica, Arial, sans-serif;
     margin:0px;
}

header {
     background-color: black;
     width: 100%;
     border-bottom: 5px solid yellow;
}

h1 {
     font-size: 2em;
     font-weight: bold;
     font-family: Georgia;
     color: yellow;
     padding: 1%;
}

ul {
     display: none;
}

li {
     color: white;
     font-size: 1.5em;
     display:inline-block;
     text-align: right;
     padding: 0 1% 1% 1%;
}

li.impact {
     color: white;
     font-family: Impact;
     text-transform: uppercase;
}

h2 {
     font-size: 1.5em;
     font-family: georgia;
     background-color: #E8E8E8;
     color: black;
     font-style: italic;
     font-weight: bold;
     text-align: center;
     padding:1%;
}

span.strikethrough {
     color: #A9A9A9;
     text-decoration: line-through;
}

span.underline {
     border-bottom: 5px solid yellow;
}

div.seethru {
     border: 1px solid black;
     background: url(../images/coworking.jpg) center center no-repeat;
     background-size: cover;
     height: 500px;
     overflow: hidden;
     padding: 3%;
}

.seethru section {
     width: 75%;
     float: right;
     border: 1px solid black;
     background-color: #E8E8E8;
     box-shadow-bottom: 5px black;
     opacity: 0.4;
     padding: 3%;
} 

.seethru section h3 {
     font-weight: bold;
     font-size: 2em;
}

.seethru section p {
     font-size: 1.3em;
}

.seethru section a{
     text-decoration: none;
     text-transform: uppercase;
     background-color: yellow;
     font-size: 1.3em;
     font-family: impact;
     font-weight: bold;
     color: black;
     text-align: center;
     padding: 2%;
     margin-left: 30%;
     border-radius: 10px;
}

div.under {
     margin: 3%;
}

div.under section h3 {
     font-family: georgia;
     color: black;
     font-size: 1.8em;
     font-weight: bold;
     text-align: left;
}

div.under section p {
     font-size: 1.5em;
     text-align: left;
     padding-bottom: 3%;
}


div.under section a {
     text-decoration: none;
     text-transform: uppercase;
     background-color: #E8E8E8;
     font-size: 1.3em;
     font-family: impact;
     font-weight: bold;
     color: black;
     text-align: center;
     padding: 2%;
     width: 100%;
     border-radius: 10px;
}



/******************************************
/* LAYOUT                   
/*******************************************/
